@media only screen and (max-width: 1249px) {
  #annual-emissions-calendar-charts-legend-container {
    width: 100%;
    display: none;
  }

  #annual-emissions-calendar-charts-container {
    display: none; /* block */
    /* height: 100%; */
  }

  .calculator-chart-container {
    height: 50%;
  }

  #annual-emissions-calendar-chart-daily-container {
    height: 50%;
    position: relative;
    /* margin-bottom: 20px; */
    top: -20px;
  }
}
