@media only screen and (max-width: 1200px) {
  #annual-emissions-calendar-charts-legend-container {
    display: none;
  }

  #annual-emissions-calendar-charts-container {
    display: none; /* block */
    height: 100%;
  }

  .calculator-chart-container {
    height: 50%;
  }
}
