:root {
  --primary-background-color: #edf6ff;
  --primary-border-color: #d6d5ff;
  --primary-border-setting: 2px solid #d6d5ff;
  --primary-button-text-color: #004759;
  --primary-button-hover-darken: #d5d7db;
  --primary-shadow: 10px 10px 0px #d6d5ff;
  --primary-selected-color: #d6d5ff85;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

#container {
  width: 100%;
  min-height: 800px;
  height: 100vh;
  background-color: var(--primary-background-color);
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  grid-template-rows: 25% 50% 25%;
}

.button {
  color: var(--primary-button-text-color);
}

.button:hover {
  background-color: var(--primary-button-hover-darken);
  cursor: pointer;
}

.selected {
  background-color: var(--primary-selected-color);
}

#main-view-cell {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
  border-radius: 8px;
  border: var(--primary-border-setting);
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 100%;
  box-shadow: var(--primary-shadow);
}

.main-view-button {
  border: 8px;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.main-view-button:hover {
  background-color: var(--primary-background-color);
}

.main-view-button-icon {
  width: 32px;
  margin: 16px;
}

.navigation-header {
  display: flex;
  align-items: center;
}

.navigation-header .main-view-button {
  display: inline-block;
  padding: 0;
  margin-right: 8px;
}

.navigation-header .main-view-button-icon {
  margin: 8px;
}

.navigation-header .main-view-text-medium-title {
  display: inline-block;
}

.introduction-view-section {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  grid-column-start: span 2;
  padding: 5%;
  height: 80%;
}

.main-view-first-section {
  border-right: var(--primary-border-setting);
  padding: 10%;
}

.main-view-text-medium-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.about-view-section {
  display: none;
  grid-column-start: span 1;
}
.upload-view-section {
  display: none;
  grid-column-start: span 1;
}
/* TODO: Remove */
#upload-progress-bar-container {
  width: 100%;
  height: 20px;
}
/* TODO: Remove */
#upload-progress-bar {
  width: 0%;
  height: 100%;
  background-color: pink;
}

.presentation-view-section {
  display: none;
  grid-column-start: span 1;
}
.map-section {
  display: none;
  grid-column-start: span 2;
}

#main-text-section {
  border-right: var(--primary-border-setting);
}

#main-view-text-container {
  margin: 10%;
}

#chart-container {
  width: 80%;
  height: 80%;
  margin: 10%;
}

#annual-emissions-chart-legend {
  margin-top: 0%;
  /* height: 35%; */
  margin-bottom: 5%;
  font-size: 1em;
}

.annual-emissions-chart-legend-item {
  margin-bottom: 5px;
}

.annual-emissions-chart-legend-item-color {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 5px;
}
#annual-emissions-chart-legend-item-color-1 {
  background-color: rgb(66, 133, 244);
}
#annual-emissions-chart-legend-item-color-2 {
  background-color: rgb(219, 68, 55);
}
#annual-emissions-chart-legend-item-color-3 {
  background-color: rgb(244, 180, 0);
}
#annual-emissions-chart-legend-item-color-4 {
  background-color: rgb(15, 157, 88);
}
.annual-emissions-chart-legend-item-explanation {
  display: contents;
}

#main-view-chart-container {
  margin-left: 10%;
  margin-top: 10%;
  width: 80%;
  height: 80%;
}
