#overall-emissions-line-chart-legend-container {
  margin-top: 0%;
  /* height: 35%; */
  display: none;
  margin-bottom: 5%;
  font-size: 1em;
}

#overall-emissions-line-chart-legend-items {
  margin-top: 16px;
}

.overall-emissions-line-chart-legend-item {
  margin-bottom: 16px;
  display: flex;
}

.overall-emissions-line-chart-legend-item-color-container {
  display: flex;
  margin-right: 16px;
  margin-top: 5px;
}

.overall-emissions-line-chart-legend-item-color {
  width: 16px;
  height: 16px;
  border-radius: 2px;
}
#overall-emissions-line-chart-legend-item-color-1 {
  background-color: rgb(66, 133, 244);
}
#overall-emissions-line-chart-legend-item-color-2 {
  background-color: rgb(219, 68, 55);
}
#overall-emissions-line-chart-legend-item-color-3 {
  background-color: rgb(244, 180, 0);
}
#overall-emissions-line-chart-legend-item-color-4 {
  background-color: rgb(15, 157, 88);
}
.overall-emissions-line-chart-legend-item-explanation {
  display: block;
}

#overall-emissions-line-chart-container {
  display: none; /* flex */
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

#overall-emissions-line-chart {
  height: 80%;
  margin-top: 20px;
}
