#presentation-chart-section {
  height: 100%;
}

#presentation-view-chart-container {
  height: 100%;
  display: block;
  padding: 45px;
  height: calc(100% - 90px);
  overflow-y: scroll;
}

.presentation-view-text-explanation-script-decoration {
  line-height: 0;
}

.presentation-view-text-explanation {
  margin-bottom: 12px;
}
