#upload-container-section {
  padding: 45px;
}

#upload-progress-container {
  margin-top: 20px;
}

.upload-progress-year-container {
  height: 20px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 20px 5px 20px 5px 20px 5px 20px 5px 20px 5px 20px 5px 20px 5px 20px 5px 20px 5px 20px 5px 20px 5px 20px 5px 1fr;
}

.upload-progress-month-container {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 20px 5px;
}

.upload-progress-month-indicator {
  /* background-color: #e0e0e0; */
  background-color: rgb(210, 210, 210);
  grid-column: span 1;
}

.month-missing {
  background-color: rgba(210, 210, 210, 0.5);
}

.upload-progress-month-spacer {
  grid-column: span 1;
}
