@media only screen and (max-width: 1249px) {
  :root {
    --primary-background-color: #edf6ff;
    --primary-border-color: #d6d5ff;
    --primary-border-setting: 2px solid #d6d5ff;
    --primary-button-text-color: #004759;
    --primary-button-hover-darken: #d5d7db;
    --primary-shadow: 10px 10px 0px #d6d5ff;
    --primary-selected-color: #d6d5ff85;
  }

  body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    background-color: var(--primary-background-color);
  }

  #container {
    height: 100%;
    min-height: -webkit-fill-available;
    background-color: var(--primary-background-color);
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 75px 150px 1fr 150px 150px;
  }

  .button {
    color: var(--primary-button-text-color);
  }

  .button:hover {
    background-color: var(--primary-button-hover-darken);
    cursor: pointer;
  }

  .selected {
    background-color: var(--primary-selected-color);
  }

  #main-view-cell {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: white;
    border-radius: 8px;
    border: var(--primary-border-setting);
    /* display: grid; */
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    box-shadow: var(--primary-shadow);
  }

  .main-view-button {
    border: 8px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }

  .main-view-button:hover {
    background-color: var(--primary-background-color);
  }

  .main-view-button-icon {
    width: 32px;
    margin: 16px;
  }

  .navigation-header {
    display: flex;
    align-items: center;
  }

  .navigation-header .main-view-button {
    display: inline-block;
    padding: 0;
    margin-right: 20px;
    opacity: 0.5;
  }

  .navigation-header .main-view-button:hover {
    opacity: 1;
  }

  .navigation-header .main-view-button-icon {
    margin: 0px;
  }

  .navigation-header .main-view-text-medium-title {
    display: inline-block;
  }

  .main-view-first-section {
    border-right: var(--primary-border-setting);
    /* overflow-y: scroll; */
    padding: 45px;
    width: calc(100% - 90px);
  }

  .main-view-text-medium-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  #main-text-section {
    border-right: var(--primary-border-setting);
  }

  #main-view-text-container {
    margin: 10%;
  }

  #chart-container {
    width: 80%;
    height: 80%;
    margin: 10%;
  }

  #main-view-chart-container {
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
  }

  .inactive {
    opacity: 0.5;
  }

  .inactive:hover {
    background-color: white;
    cursor: not-allowed;
  }

  #header-container {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
  }

  #header-github-icon {
    float: right;
    width: 40px;
    margin: 20px;
    opacity: 0.5;
  }

  #header-github-icon:hover {
    opacity: 1;
  }

  .fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
