@media only screen and (max-width: 1249px) {
  #activity-control-panel-cell {
    grid-template-columns: 1fr;
    grid-template-rows: 5% 85% 10%;
    grid-row-end: 6;
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-start: 5;
    display: grid;
  }

  /* misnamed for mobile */
  #activity-control-panel-cell-column {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
  }

  #actvity-control-panel-selector-container {
    /* width: 100%; */
    background-color: white;
    border: var(--primary-border-setting);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--primary-shadow);
    height: 100%;
    flex-direction: row;
    display: none; /* flex */
  }

  .activity-control-panel-selector {
    width: 100px;
    border-right: var(--primary-border-setting);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .activity-control-panel-selector:nth-last-child(1) {
    border-right: none;
  }

  .activity-control-panel-icon {
    margin: auto;
    width: 60px;
    height: 60px;
    padding: 16px;
  }
}
