@media only screen and (max-width: 1249px) {
  #chart-view-control-panel-selector-container {
    grid-column-start: 5;
    grid-column-end: 8;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    display: none; /* grid */
  }

  .chart-view-control-panel-selector-subset-container {
    background-color: white;
    border: var(--primary-border-setting);
    grid-column-start: 1;
    border-radius: 8px;
    box-shadow: var(--primary-shadow);
  }
  #chart-view-control-panel-selector-subset-container-overall {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-end: 4;
  }
  #chart-view-control-panel-selector-subset-container-annual {
    display: none; /* grid */
    grid-template-columns: 1fr 1fr;
    grid-column-end: 3;
  }

  #chart-view-control-panel-selector-donate {
    display: flex;
  }

  #chart-view-control-panel-selector-donut {
    display: flex;
  }

  #chart-view-control-panel-selector-line {
    display: flex;
  }

  #chart-view-control-panel-selector-map {
    display: none;
  }

  #chart-view-control-panel-selector-calendar {
    display: none;
  }

  .chart-view-control-panel-selector {
    grid-column-start: span 1;
    border-right: var(--primary-border-setting);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chart-view-control-panel-selector:nth-last-child(1) {
    border-right: none;
  }

  .chart-view-control-panel-icon {
    width: 60px;
    height: 60px;
    padding: 16px;
  }
}
