@media only screen and (max-width: 1249px) {
  #presentation-view-control-panel-cell {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    display: grid;
    grid-template-rows: 5% 85% 10%;
  }

  #presentation-view-control-panel-cell-row {
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 200px 200px 60px 100px 100px 100px 1fr;
  }

  #control-panel-chevron {
    grid-column-start: 4;
    grid-column-end: 5;
    justify-content: center;
    align-items: center;
    display: none; /* flex */
    font-size: 2em;
    color: var(--primary-button-text-color);
    user-select: none;
    opacity: 60%;
    text-shadow: var(--primary-shadow);
  }
}
