#emissions-breakdown {
}

.emissions-breakdown-item {
  padding: 8px;
  align-items: center;
  display: flex;
}

.emissions-breakdown-item-icon-container {
  display: inline-block;
  height: 100%;
}

.emissions-breakdown-item-icon {
  padding: 16px;
  width: 32px;
}

.emissions-breakdown-item-text {
  display: inline-block;
}
