#annual-emissions-chart-container {
  display: none;
  padding: 45px;
  height: calc(100% - 90px);
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: scroll;
}

#annual-emissions-chart {
  height: 80%;
  margin-top: 20px;
}
